@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.edit-task img {
    width: 15px;
    height: 15px;
}

.delete-task img {
    width: 15px;
    height: 15px;
}

#task-list li {
    list-style: none;
}